body {
  font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
  font-size: 0.9em;
	padding: 0 26px;
	line-height: 1.4em;
  word-wrap: break-word;
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

h1 {
  font-size: 2.2em;
  line-height: 1.4em;
}

h2{
  font-size: 2.0em;
  line-height: 1.2em;
}

h3{
  font-size: 1.8em;
  line-height: 1.2em;
}

h4{
  font-size: 1.6em;
  line-height: 1.2em;
}

h5{
  font-size: 1.4em;
  line-height: 1.2em;
}

h6{
  font-size: 1.3em;
  line-height: 1.2em;
}

h1, h2, h3 {
	font-weight: normal;
}

h4, h5, h6 {
  font-weight: 500;
}

/*Nicer tables*/

table {
  margin: 10px 0 15px 0;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: 0.95em;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal;
  max-width: 1200px;
}

td {
    border: none;
    padding: 6px 13px;
    display: table-cell;
    vertical-align: inherit;
}

th{
  font-weight:bold;
  color:#000;
  border: none;
  padding:6px 13px;
  display: table-cell;
  vertical-align: inherit;
}

thead tr {
  border-top: none;
  border-bottom: 1px solid;
  text-align: left;
  font-weight: bold;
}

tbody tr {
  border-top: 1px solid;
  border-color: lightgray;
}

td {
  border: none;
  padding:6px 13px
}

hr {
  border: 1px solid rgba(169, 169, 169, 0.5);
  box-shadow: 2px 2px 3px rgba(211, 211, 211, 0.5);
}

/*Admonitions*/
.warning {
  background-color: rgb(255, 237, 204);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid rgb(240, 179, 126);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.caution {
  background-color: rgb(255, 237, 204);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid  rgb(242, 159, 151);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.danger {
  background-color: rgb(253, 243, 242);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid  rgba(255, 0, 0, 0.7);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.important {
  background-color: rgb(219, 250, 244);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid rgb(26, 188, 156);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.tip {
  background-color: rgb(219, 250, 244);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid rgb(26, 188, 156);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.info {
  background-color: rgb(231, 242, 250);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid rgb(106, 176, 222);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.note {
  background-color: rgb(231, 242, 250);
  padding: 2px 10px 2px 20px;
  border-radius: 0 10px 10px 0;
  border-left: 10px solid rgb(106, 176, 222);
  box-shadow: 5px 5px 10px darkgrey;
  margin: 20px 0;
  font-weight: normal;
}

.admonition-title{
  font-weight: bold;
}



/*Layout*/
header{
  background-color: #2980B9;
  border-radius: 5px;
  padding: 10px 10px 20px 20px;
  margin: 0 0 5px 0;
  color: white;
}

.container {
  display: -webkit-flex;
  display: flex;
}

.project_toc {
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  align-content: flex-start;
  min-width: 300px;
  background-color: #404040;
  padding: 5px 5px 5px 20px;
  border-radius: 5px;
  margin: 0 5px 0 0;
  color: whitesmoke;
}

.project_toc a{
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: normal;
}

.project_toc ul{
  list-style-type: none;
  list-style-image: none;
  -webkit-padding-start: 0;
  padding: 0;
}

.project_toc ul ul{
  list-style-type: none;
  list-style-image: none;
  -webkit-padding-start: 0;
  padding: 3px 0 3px 10px;
}

.project_toc li{
  line-height: 1.4em;
}

.project_toc img{
  width: auto;
  height: 100px;
}

.project_toc h1, .project_toc h2, .project_toc h3, .project_toc h4, .project_toc h5, .project_toc h6, .project_toc strong{
  -webkit-margin-before: 0.33em;
  -webkit-margin-after: 0.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

  .selected_nav_item{
    background-color: rgba(41, 128, 185, 0.8);
    color: white !important;
    padding: 5px;
    margin: 2px 5px 2px 0;
    border-radius: 3px;
    display: block;
  }

.content {
  -webkit-flex: 70%;
  -ms-flex: 70%;
  flex: 70% ;
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 5px;;

}

footer {
  background-color: #cccccc;
  padding: 5px;
  margin: 5px 0 20px 0;
  border-radius: 5px;
}






/*MS Stuff below*/
/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Microsoft Corporation. All rights reserved.
 *  Licensed under the MIT License. See License.txt in the project root for license information.
 *--------------------------------------------------------------------------------------------*/



img {
	max-width: 800px;
	max-height: 100%;
}

a {
  color: dodgerblue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 1px solid -webkit-focus-ring-color;
	outline-offset: -1px;
}

li {
  line-height: 1.8em;
}

li p {
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
 }


blockquote {
	margin: 0 7px 0 5px;
	padding: 1px 20px 1px 20px;
  border-left: 5px solid darkgrey;
  background-color: #eee;
  border-radius: 0 10px 10px 0;
}

code {
	font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
	font-size: 0.95em;
  line-height: 1.4em;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: .95em;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0 10px 10px 0px;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0 10px 10px 0;
}

/* Decorations for markdown-it-decorate plugin*/
img.small{
  max-width: 200px;
}

.red{
  color: Red;
}

/*Media*/

@media print {

  body {
    margin: 40px 25px;
  }

  img{
    display:block;
    max-width: 500px;
    float: none;
    margin: 5px;
  }
  
  header{
    background-color: #2980B9;
  }

  .container{
    display: inherit;
  } 
  
  .project_toc {
    background-color: #404040;
    margin: 0 0 5px 0;
  }

  .content {
    background-color: white;
  }

  footer{
    background-color: #cccccc;
    display: none;
  }
}

@media only screen and (max-width: 1281px) and (min-width: 801px) {
  
  body{
    width: 95%;
    padding: 0;
    margin: 20px auto;
  }

  img{
    display:block;
    max-width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }
  
  .container{
      display: flex;
      display: -webkit-flex;
  } 
    
  .project_toc {
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    min-width: 300px;

  }

  .content {
    -webkit-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
    flex-basis: none;
  }


}

@media only screen and (max-width: 800px) {
 
  body{
    width: 95%;
    padding: 0;
    margin: 20px auto;
  }

  img{
    display:block;
    max-width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }
  
  .container{
    flex-direction: column;  
  } 
     
  .project_toc {
    flex: none;
    margin: 0 0 5px 0;
    align-content: flex-start;
  }

  .project_toc img{
    display: none;
  }

  .content {
    flex: none;
  }

}

  /* Page Break : use <div class="page"/> to insert page break
-------------------------------------------------------- */
.page {
  page-break-before: always;
  margin-top: 40px;
  }